* {
  margin: 0;
  padding: 0
}

ul {
  list-style: none
}

img {
  vertical-align: top
}

.box {
  width: 730px;
  height: 454px;
  margin: 100px auto;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

img{
  width: 730px;
  height: 454px;
}
.inner {
  width: 730px;
  height: 454px;
  background-color: pink;
  overflow: hidden;
  position: relative;
  /* z-index: -1000; */
}

.inner ul {
  width: 1000%;
  position: absolute;
  top: 0;
  left: 0;
}

.inner li {
  float: left;
}

#arrows {
  display: none;
}

#arrows span {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 266px;
  top: 55%;
  margin-top: -20px;
  background: black;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-family: '黑体';
  font-size: 20px;
  color: #fff;
  opacity: 0.3;
  border: 1px solid #fff;
}

#arrows #right {
  right: 266px;
  left: auto;
}

.square {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.square span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
}

.square span.current {
  background-color: orangered;
  color: #fff;
}